@import "colors";

/////DARK////////////////////
/// 
body.dark {
  background: $BODY_DARK;
  color: $WHITE;

  font-size: 15px;

  p,
small,
li,
.para,
label {
  background: #ffffff;
  background: linear-gradient(to left, #ffffff69 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.7em;
}


.card {
  @apply relative border-gray-50 border-b border-t border-opacity-10;
  background: rgba(137, 137, 137, 0.06);

  &:before {
    content: "";
    width: 1px;
    height: 50%;
    display: block;
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 0;
    background: #fff;
    background: linear-gradient(0deg,
        rgba(255, 255, 255, 0) 0%,
        rgb(255, 255, 255) 51%,
        rgba(255, 255, 255, 0) 100%);
    opacity: 0.1;
  }

  // &:before{
  //         content: "";
  //         width: 1px;
  //         height: 40%;
  //         display: block;
  //         position: absolute;
  //         left: 0;
  //         bottom: 30%;
  //         bottom: 0;
  //         background: #fff;
  //         background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 51%, rgba(255, 255, 255, 0) 100%);
  //         opacity: 0.1;
  // }
}

.card-lg {
  @media only screen and (max-width: 575px) {
    padding: 0 !important;

    @apply border-none;
    background: transparent !important;

    &:before {
      display: none !important;
    }

    &:after {
      display: none !important;
    }
  }
}




h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Now Text";
  // font-family: "Plus Jakarta Sans", sans-serif;
  // font-family: 'Open Sauce One';
  font-weight: inherit;
  background: #ffffff;
  background: radial-gradient(circle farthest-corner at center center,
      #ffffff 0%,
      #ffffffa1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.3em;
}



.image-box- {
  @apply rounded-[32px] relative;

  @media only screen and (min-width: 1500px) {
    @apply size-[550px];
  }

  @media only screen and (min-width: 999px) {
    @apply size-[400px];
  }

  @media only screen and (max-width: 575px) {
    @apply w-[90%] h-auto;
  }

  img {
    @apply rounded-[42px] relative sm:h-[400px] h-[300px] object-cover;
    filter: grayscale(0.5);
    opacity: 0.7;
  }

  &:after {
    content: "";
    //background: rgb(2, 0, 36);
    // background: linear-gradient(180deg, rgba(2,0,36,0.1516981792717087) 0%, rgba(5,7,33,0.13209033613445376) 20%, rgba(11,21,28,0.5298494397759104) 51%, rgba(11,21,28,0.8939950980392157) 66%, rgba(11,21,28,1) 81%, rgba(11,21,28,1) 100%);

    background: rgb(27, 47, 59);
    /* Fallback for older browsers */
    background: linear-gradient(180deg,
        rgba(27, 47, 59, 0.1517) 0%,
        rgba(27, 47, 59, 0.1321) 20%,
        rgba(27, 47, 59, 0.5298) 51%,
        rgba(27, 47, 59, 0.894) 66%,
        rgba(27, 47, 59, 1) 81%,
        rgba(27, 47, 59, 1) 100%);

    inset: 0;
    position: absolute;
    max-height: 100%;
    @apply rounded-[32px];
  }

  .line {
    border-right: solid 1px #ffffff75;
    opacity: 0.6;
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
    transform: rotate(8deg);

    @apply rounded-[32px];
    animation: rotate 20s ease-in-out infinite;

    @media only screen and (min-width: 1500px) {
      @apply max-h-[500px];
    }

    @media only screen and (min-width: 999px) {
      @apply max-h-[400px];
    }

    @media only screen and (max-width: 575px) {
      @apply max-h-[300px];
    }
  }
}



.card-effect {
  @apply relative;

  &:after {
    content: "";
    display: block;
    width: 40%;
    height: 40%;
    background: url("../images/blur-btn.png") bottom no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
    opacity: 0.8;
  }
}



.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 300px;
  // height: 300px;
  // border-radius: 100%;
  // background-image: linear-gradient(#4377EF 10%, #7BEFD0);
  // filter: blur(70px);
  // opacity: 0.6;

  width: 280px;
  height: 280px;
  border-radius: 100%;
  background-image: linear-gradient(#4377EF 10%, #7BEFD0);
  filter: blur(50px);
  opacity: 0.5;

  // width: 500px;
  // height: 500px;
  // border-radius: 100%;
  // background-image: linear-gradient(#9c1358 10%, #589c13);
  // filter: blur(60px);
  // opacity: 0.9;

  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -1;
}


.shadow-box {
  -webkit-box-shadow: 0px 120px 160px -90px rgba(47, 165, 216, 0.2);
  -moz-box-shadow: 0px 120px 160px -90px rgba(47, 165, 216, 0.2);
  box-shadow: 0px 120px 160px -90px rgba(47, 165, 216, 0.2);
}

.gradient-bottom-card {
  background: rgb(255,
      255,
      255);
  /* Fallback for browsers that do not support gradients */
  background: linear-gradient(180deg,
      rgba(255,255,255, 0.1516981792717087) 0%,
      rgba(27, 47, 59, 0.13209033613445376) 20%,
      rgba(27, 47, 59, 0.5298494397759104) 51%,
      rgba(27, 47, 59, 0.8939950980392157) 66%,
      rgba(27, 47, 59, 1) 81%,
      rgba(27, 47, 59, 1) 100%);
}


.btn {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  position: relative;
  // max-width: 200px;

  //width: 100%;
  border-radius: 100px;
  //border: 1px solid $WHITE;
  line-height: 0;
  transition: all 0.3s;
  color: #ffffffa1;
  background: rgba(255, 255, 255, 0.02);
  font-weight: normal;
  font-family: "Inter", sans-serif;
  transition: all 0.3s;
}


.btn-sc {
  position: relative;
  // min-width: 200px;
  height: 60px;
  min-width: 60px;
  width: fit-content;

  a,
  button {
    position: relative;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
    min-width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    //  box-shadow: 0 5px 55px  #1a5793;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: $WHITE;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    font-size: 14px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
      transform: skewX(45deg) translateX(0);
      transition: 0.5s;
      filter: blur(15px);
    }
  }

  &:hover a,
  &:hover button {
    // letter-spacing: 3px;
    transition: 0.5s;

    &:before {
      transform: skewX(45deg) translateX(200%);
    }
  }

  &:hover:before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }

  &:hover:after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 0;
    border-radius: 10px;
    transition: 0.5s;
    background: #2ea4d4;
    box-shadow: 0 0 5px #2ea4d4, 0 0 15px #2ea4d4, 0 0 30px #2ea4d4, 0 0 60px #2ea4d4;
    //background: #589c13;
    // box-shadow: 0 0 5px #589c13, 0 0 15px #589c13, 0 0 30px #589c13, 0 0 60px #589c13;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 0;
    border-radius: 10px;
    transition: 0.5s;
    background: #2ea4d4;
    box-shadow: 0 0 5px #2ea4d4, 0 0 15px #2ea4d4, 0 0 30px #2ea4d4, 0 0 60px #2ea4d4;
    // background: #589c13;
    // box-shadow: 0 0 5px #589c13, 0 0 15px #589c13, 0 0 30px #589c13, 0 0 60px #589c13;
  }

}



.container {
  margin: 0 auto;
  width: 90%;

  @media only screen and (min-width: 1500px) {
    max-width: 1200px;
  }

  max-width: 1000px;

  @media only screen and (max-width: 575px) {
    max-width: 90%;
  }
}



.heading-1 {
  // font-size: max(4vw, 28px);
  font-size: max(3vw, 28px);
  line-height: 1.3em;

  @media only screen and (max-width: 999px) {
    font-size: max(5vw, 28px);
  }
}

.heading-2 {
  font-size: max(2.2vw, 24px);
}

.heading-3 {
  font-size: max(2vw, 28px);
}

.sub-heading {
  font-size: max(28px, 16px);

  @media (max-width: 575px) {
    /* Adjust this breakpoint as needed */

    font-size: 18px;
    /* Font size for small screens */
  }
}

 
}























/////////////////////LIGHT///////
body.light {
 
  background: $BODY_LIGHT;
  color: $BLACK;

  font-size: 16px;

//padding:20px;

  .card {
    @apply relative  border;
    background: $WHITE;

  }
  
  .card-lg {
    @media only screen and (max-width: 575px) {
      padding: 0 !important;
  
      @apply border-none;
      background: transparent !important;
  
      &:before {
        display: none !important;
      }
  
      &:after {
        display: none !important;
      }
    }
  }


  section {
    @media only screen and (min-width: 999px) {
      @apply py-[100px];
    }
  
    @apply py-[50px];
  }

  p{
    color:$LIGHT;
  }


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Now Text";
  line-height: 1.3em;
  color:$BLACK;
}




.image-box- {
  @apply rounded-[32px] relative;

  @media only screen and (min-width: 1500px) {
    @apply size-[550px];
  }

  @media only screen and (min-width: 999px) {
    @apply size-[400px];
  }

  @media only screen and (max-width: 575px) {
    @apply w-[90%] h-auto;
  }

  img {
    @apply rounded-[42px] relative sm:h-[400px] h-[300px] object-cover;
   // filter: grayscale(0.5);
  //  opacity: 0.7;
  }

  &:after {
    content: "";
    //background: rgb(2, 0, 36);
    // background: linear-gradient(180deg, rgba(2,0,36,0.1516981792717087) 0%, rgba(5,7,33,0.13209033613445376) 20%, rgba(11,21,28,0.5298494397759104) 51%, rgba(11,21,28,0.8939950980392157) 66%, rgba(11,21,28,1) 81%, rgba(11,21,28,1) 100%);

    // background: rgb(255, 255, 255);
    // /* Fallback for older browsers */
    // background: linear-gradient(180deg,
    //     rgba(255,255,255, 0.1517) 0%,
    //     rgba(255,255,255, 0.1321) 20%,
    //     rgba(255,255,255, 0.5298) 51%,
    //     rgba(255,255,255, 0.894) 66%,
    //     rgba(255,255,255, 1) 81%,
    //     rgba(255,255,255, 1) 100%);

    inset: 0;
    position: absolute;
    max-height: 100%;
    @apply rounded-[32px];
  }

  .line {
    border-right: solid 1px #00000075;
    opacity: 0.6;
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
    transform: rotate(8deg);

    @apply rounded-[32px];
    animation: rotate 20s ease-in-out infinite;

    @media only screen and (min-width: 1500px) {
      @apply max-h-[500px];
    }

    @media only screen and (min-width: 999px) {
      @apply max-h-[400px];
    }

    @media only screen and (max-width: 575px) {
      @apply max-h-[300px];
    }
  }
}





*, ::before, ::after {
 border-color: #dddddd;
}



.gradient-bottom-card {
  background: rgb(27,
      47,
      59);
  /* Fallback for browsers that do not support gradients */
  background: linear-gradient(180deg,
      rgba(27, 47, 59, 0.1516981792717087) 0%,
      rgba(255,255,255, 0.13209033613445376) 20%,
      rgba(255,255,255, 0.5298494397759104) 51%,
      rgba(255,255,255, 0.8939950980392157) 66%,
      rgba(255,255,255, 1) 81%,
      rgba(255,255,255, 1) 100%);
}




.btn {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  position: relative;
  // max-width: 200px;

  //width: 100%;
  border-radius: 100px;
  //border: 1px solid $WHITE;
  line-height: 0;
  transition: all 0.3s;
  color: $BLACK;
  background: rgba(255, 255, 255, 0.02);
  font-weight: normal;
  font-family: "Inter", sans-serif;
  transition: all 0.3s;
}



.btn-sc {
  position: relative;
  // min-width: 200px;
  height: 60px;
  min-width: 60px;
  width: fit-content;

  a,
  button {
    position: relative;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
    min-width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    //  box-shadow: 0 5px 55px  #1a5793;
    border: 1px solid $BLACK;
    border-radius: 30px;
    color: $BLACK;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
   
    font-size: 14px;

   
  }

  &:hover a,
  &:hover button {
    // letter-spacing: 3px;
    transition: 0.5s;

   
  }



}


.container {
  margin: 0 auto;
  width: 100%;

  @media only screen and (min-width: 1500px) {
    max-width: 80%;
  }

  max-width: 80%;

  @media only screen and (max-width: 575px) {
    max-width: 90%;
  }
}

section{
  //@apply rounded-[24px]
}




.heading-1 {
  // font-size: max(4vw, 28px);
  font-size: max(3vw, 28px);
  line-height: 1.3em;

  @media only screen and (max-width: 999px) {
    font-size: max(5vw, 28px);
  }
}

.heading-2 {
  font-size: max(3.5vw, 24px);
}

.heading-3 {
  font-size: max(3vw, 28px);
}

.sub-heading {
  font-size: max(28px, 16px);

  @media (max-width: 575px) {
    /* Adjust this breakpoint as needed */

    font-size: 18px;
    /* Font size for small screens */
  }
}



main{
 @apply px-[10px];
}

.bg-black{
  background: $PC!important;

*:not(.card  *) {
 
  color:$WHITE;
}

.card{

  .btn-sc {
    a,
    button {
     
      border: 1px solid $BLACK;
      color: $BLACK;
    
     
    }
  
    &:hover a,
    &:hover button {
      // letter-spacing: 3px;
      transition: 0.5s;
  background: $BLACK;
  color: $WHITE;
    }
  
  
  
  }
}

.btn-sc {
  a,
  button {
   
    border: 1px solid $WHITE;
    color: $WHITE;
  
   
  }

  &:hover a,
  &:hover button {
    // letter-spacing: 3px;
    transition: 0.5s;
    border-color: $BLACK;
background: $WHITE;
color: $BLACK;

*{
  color: $BLACK; 
}
  }



}




}

.img-bg-banner{

  @apply block absolute inset-0 grayscale opacity-[0.07] w-full h-[100%] object-cover;

 
 
}
.video-wrpr{
  @apply  absolute inset-0  w-full h-[100%] overflow-hidden;

  video{
    @apply  w-full h-[100%] scale-[1.5];

    @media only screen and (max-width: 999px) {
      @apply  scale-[3];
    }

    @media only screen and (max-width: 575px) {
      @apply  scale-[4];
    }
  }

  &:after{
    content:'';
    @apply  absolute inset-0  w-full h-[100%] ;
    background: rgb(21,42,55);
background: linear-gradient(266deg, rgba(21,42,55,0.1516981792717087) 0%, rgba(21,42,55,0.8127626050420168) 50%, rgba(21,42,55,0.9416141456582633) 74%, rgba(21,42,55,1) 100%);
  }


}




.animation-wrapper {
  align-items: center;
  background-image: linear-gradient(to right, #152a37, #23485f);
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}




@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

  
}
