@import "colors";

/////DARK////////////////////
/// 
body.dark {
    background: $BODY_DARK;
    color: $WHITE;

    font-size: 15px;



    p:not(.header-nav-wrpr p, footer p, .content-service p),
    small,
    li:not(.header-nav-wrpr li, footer li),
    .para,
    a:not(.content-service a, .content-service a),
    label {
        background: #ffffff;
        background: linear-gradient(to left, #ffffff69 0%, #fff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.7em;
    }


    .card {
        @apply relative border-gray-50 border-b border-t border-opacity-10;
        background: rgba(137, 137, 137, 0.06);

        &:before {
            content: "";
            width: 1px;
            height: 50%;
            display: block;
            position: absolute;
            right: 0;
            top: 30%;
            bottom: 0;
            background: #fff;
            background: linear-gradient(0deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgb(255, 255, 255) 51%,
                    rgba(255, 255, 255, 0) 100%);
            opacity: 0.1;
        }

        // &:before{
        //         content: "";
        //         width: 1px;
        //         height: 40%;
        //         display: block;
        //         position: absolute;
        //         left: 0;
        //         bottom: 30%;
        //         bottom: 0;
        //         background: #fff;
        //         background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 51%, rgba(255, 255, 255, 0) 100%);
        //         opacity: 0.1;
        // }
    }

    .card-lg {
        @media only screen and (max-width: 575px) {
            padding: 0 !important;

            @apply border-none;
            background: transparent !important;

            &:before {
                display: none !important;
            }

            &:after {
                display: none !important;
            }
        }
    }




    h1:not(.content-service h1),
    h2:not(.content-service h2),
    h3:not(.content-service h3),
    h4:not(.content-service h4),
    h5:not(.content-service h5),
    h6:not(.content-service h6),
    .h1:not(.content-service .h1),
    .h2:not(.content-service .h2),
    .h3:not(.content-service .h3),
    .h4:not(.content-service .h4),
    .h5:not(.content-service .h5),
    .h6:not(.content-service .h6) {
        font-family: "Helvetica Now Text";
        // font-family: "Plus Jakarta Sans", sans-serif;
        // font-family: 'Open Sauce One';
        font-weight: inherit;
        background: #ffffff;
        background: radial-gradient(circle farthest-corner at center center,
                #ffffff 0%,
                #ffffffa1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.3em;
      
    }



    .image-box- {
        @apply rounded-[32px] relative;

        @media only screen and (min-width: 1500px) {
            @apply size-[550px];
        }

        @media only screen and (min-width: 1199px) {
            @apply size-[400px];
        }

        @media only screen and (max-width: 575px) {
            @apply w-[90%] h-auto;
        }

        img {
            @apply rounded-[42px] relative sm:h-[400px] h-[300px] object-cover;
            filter: grayscale(0.5);
            opacity: 0.7;
        }

        &:after {
            content: "";
            //background: rgb(2, 0, 36);
            // background: linear-gradient(180deg, rgba(2,0,36,0.1516981792717087) 0%, rgba(5,7,33,0.13209033613445376) 20%, rgba(11,21,28,0.5298494397759104) 51%, rgba(11,21,28,0.8939950980392157) 66%, rgba(11,21,28,1) 81%, rgba(11,21,28,1) 100%);

            background: rgb(27, 47, 59);
            /* Fallback for older browsers */
            background: linear-gradient(180deg,
                    rgba(27, 47, 59, 0.1517) 0%,
                    rgba(27, 47, 59, 0.1321) 20%,
                    rgba(27, 47, 59, 0.5298) 51%,
                    rgba(27, 47, 59, 0.894) 66%,
                    rgba(27, 47, 59, 1) 81%,
                    rgba(27, 47, 59, 1) 100%);

            inset: 0;
            position: absolute;
            max-height: 100%;
            @apply rounded-[32px];
        }

        .line {
            border-right: solid 1px #ffffff75;
            opacity: 0.6;
            transform: scale(1.5);
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: 1;
            transform: rotate(8deg);

            @apply rounded-[32px];
            animation: rotate 20s ease-in-out infinite;

            @media only screen and (min-width: 1500px) {
                @apply max-h-[500px];
            }

            @media only screen and (min-width: 999px) {
                @apply max-h-[400px];
            }

            @media only screen and (max-width: 575px) {
                @apply max-h-[300px];
            }
        }
    }



    .card-effect {
        @apply relative;

        &:after {
            content: "";
            display: block;
            width: 40%;
            height: 40%;
            background: url("../images/blur-btn.png") bottom no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            bottom: 0;
            transition: all 0.3s;
            opacity: 0.8;
        }
    }



    .blob {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 300px;
        // height: 300px;
        // border-radius: 100%;
        // background-image: linear-gradient(#4377EF 10%, #7BEFD0);
        // filter: blur(70px);
        // opacity: 0.6;

        width: 280px;
        height: 280px;
        border-radius: 100%;
        background-image: linear-gradient(#4377EF 10%, #7BEFD0);
        filter: blur(50px);
        opacity: 0.5;

        // width: 500px;
        // height: 500px;
        // border-radius: 100%;
        // background-image: linear-gradient(#9c1358 10%, #589c13);
        // filter: blur(60px);
        // opacity: 0.9;

        transition: all 450ms ease-out;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        transform: translate(calc(-50% + 15px), -50%);
        z-index: -1;
    }


    .shadow-box {
        -webkit-box-shadow: 0px 120px 160px -90px rgba(47, 165, 216, 0.2);
        -moz-box-shadow: 0px 120px 160px -90px rgba(47, 165, 216, 0.2);
        box-shadow: 0px 120px 160px -90px rgba(47, 165, 216, 0.2);
    }

    .gradient-bottom-card {
        background: rgb(255,
                255,
                255);
        /* Fallback for browsers that do not support gradients */
        background: linear-gradient(180deg,
                rgba(255, 255, 255, 0.1516981792717087) 0%,
                rgba(27, 47, 59, 0.13209033613445376) 20%,
                rgba(27, 47, 59, 0.5298494397759104) 51%,
                rgba(27, 47, 59, 0.8939950980392157) 66%,
                rgba(27, 47, 59, 1) 81%,
                rgba(27, 47, 59, 1) 100%);
    }


    .btn {
        display: inline-flex;
        gap: 16px;
        align-items: center;
        position: relative;
        // max-width: 200px;

        //width: 100%;
        border-radius: 100px;
        //border: 1px solid $WHITE;
        line-height: 0;
        transition: all 0.3s;
        color: #ffffffa1;
        background: rgba(255, 255, 255, 0.02);
        font-weight: normal;
        font-family: "Inter", sans-serif;
        transition: all 0.3s;
    }


    .btn-sc {
        position: relative;
        // min-width: 200px;
        height: 60px;
        min-width: 60px;
        width: fit-content;

        a,
        button {
            position: relative;
            top: 0;
            padding-left: 30px;
            padding-right: 30px;
            left: 0;
            min-width: 60px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.05);
            //  box-shadow: 0 5px 55px  #1a5793;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            color: $WHITE;
            z-index: 1;
            font-weight: 400;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            transition: 0.5s;
            backdrop-filter: blur(15px);
            font-size: 14px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
                transform: skewX(45deg) translateX(0);
                transition: 0.5s;
                filter: blur(15px);
            }
        }

        &:hover a,
        &:hover button {
            // letter-spacing: 3px;
            transition: 0.5s;

            &:before {
                transform: skewX(45deg) translateX(200%);
            }
        }

        &:hover:before {
            bottom: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        &:hover:after {
            top: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            width: 30px;
            height: 0;
            border-radius: 10px;
            transition: 0.5s;
            background: #2ea4d4;
            box-shadow: 0 0 5px #2ea4d4, 0 0 15px #2ea4d4, 0 0 30px #2ea4d4, 0 0 60px #2ea4d4;
            //background: #589c13;
            // box-shadow: 0 0 5px #589c13, 0 0 15px #589c13, 0 0 30px #589c13, 0 0 60px #589c13;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -5px;
            width: 30px;
            height: 0;
            border-radius: 10px;
            transition: 0.5s;
            background: #2ea4d4;
            box-shadow: 0 0 5px #2ea4d4, 0 0 15px #2ea4d4, 0 0 30px #2ea4d4, 0 0 60px #2ea4d4;
            // background: #589c13;
            // box-shadow: 0 0 5px #589c13, 0 0 15px #589c13, 0 0 30px #589c13, 0 0 60px #589c13;
        }

    }



    // .container {
    //     margin: 0 auto;
    //     width: 90%;

    //     @media only screen and (min-width: 1500px) {
    //         max-width: 1200px;
    //     }

    //     max-width: 1000px;

    //     @media only screen and (max-width: 575px) {
    //         max-width: 90%;
    //     }
    // }





    .header {
        @apply relative sm:py-5 py-3 bg-opacity-50 backdrop-filter backdrop-blur-lg transition-all z-[99];

        a{

           
            background:transparent !important;
            background: transparent !important;
            -webkit-background-clip: none !important;
            -webkit-text-fill-color: transparent;
            
        }

        .link-- {
            @apply hover:text-sky-500 hover:animate-pulse block;
        }

        .inner--- {
            @apply columns-2 flex justify-between items-center;
        }

        .label-- {
            @apply block tracking-[1px] mb-5 sm:mb-5 text-[14px] whitespace-nowrap;

            background: #ffffff;
            background: linear-gradient(to left, #ffffff69 0%, #fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Inter", sans-serif;
        }

        .ul-1 {
            @apply pl-5 sm:mt-5 mt-2 md:text-[2rem] text-xl grid gap-[8px];
        }

        .wrpr--nav-1 {
            @apply flex items-center gap-5;
        }

        .button {
            @apply hidden md:block;
        }
    }


    .social a {
        @apply relative border-gray-50 border-b border-t border-opacity-10;

        background: rgba(137, 137, 137, 0.06);

        border-radius: 50%;
        padding: 10px;

        @media only screen and (min-width: 575px) {
            height: 50px;
            width: 50px;
            max-height: 50px;
            max-width: 50px;
            min-height: 50px;
            min-width: 50px;
        }

        height: 40px;
        width: 40px;
        max-height: 40px;
        max-width: 40px;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        * {
            width: 20px;
            height: 20px;
        }

        g,
        path {
            background: $WHITE;
            fill: $WHITE;
        }

        &:focus,
        &:hover {
            background: $SC;
            border-color: $SC;
            // box-shadow: inset 0 16px 7px #131c257a;
        }
    }

    .footer {
        @apply overflow-hidden sm:py-[100px] py-6 relative z-50;

        .container {
            @apply grid sm:gap-20 gap-3 z-10 relative;
        }

        .wrpr {
            @apply lg:flex grid flex-row lg:gap-[50px] sm:gap-16 gap-[30px];
        }

        .inner-1 {
            @apply lg:basis-[40%] grid justify-between;
        }

        .inner-2 {
            @apply md:flex grid sm:gap-[24px] md:gap-[100px];
        }

        .wrpr-2 {
            @apply lg:flex flex-col flex-grow justify-end hidden;
        }

        .social {
            @apply flex gap-2;

            .list-wrpr {
                @apply m-0;
            }
        }

        p {
            @apply md:text-[16px] text-[14px] opacity-50;
        }

        .wrpr-3 {
            @apply basis-[60%] grid md:gap-[50px] sm:gap-[24px] lg:justify-end;
        }

        .inner {
            @apply md:flex grid sm:gap-[24px] md:gap-[100px];
        }

        .heading {
            @apply block tracking-[1px] mb-[16px] sm:mb-5 text-[15px] whitespace-nowrap;

            background: #ffffff;
            background: linear-gradient(to left, #ffffff69 0%, #fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Inter", sans-serif;
        }

        .list-wrpr {
            @apply md:text-[16px] text-[14px];

            li {
                @apply sm:mb-[8px] mb-[12px];
            }
        }

        a {
            @apply hover:animate-pulse transition-all text-[14px];
            color: #ffffff8f !important;
            font-weight: 400;
        }

        .inner-2 {
            @apply md:flex grid sm:gap-[24px] md:gap-[100px];
        }

        .bottom-footer {
            @apply flex lg:hidden items-end;
        }

        .copyright- {
            @apply md:text-[16px] text-[14px];
        }

        .link-hover {
            @apply hover:opacity-50 transition-all;
        }

        .list-wrpr {
            @apply sm:mb-[24px] mb-[16px] mt-0 grid gap-[0px];
        }
    }


    .input-custom {
        @apply bg-transparent border rounded-[8px] p-[15px] transition-all border-gray-50 border-opacity-10 text-[14px];
        background: rgba(137, 137, 137, 0.06);
    }

    .rdp-caption_label,
    .rdp-head_cell,
    .rdp-caption_label {
        font-size: 15px !important;
        font-weight: 300 !important;
        background: #ffffff;
        background: linear-gradient(to left, #ffffff69 0%, #fff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .rdp-caption {
        border-bottom: solid thin rgba(255, 255, 255, 3%) !important;
        padding: 12px 24px !important;
        margin-bottom: 20px !important;
    }


    input::-webkit-input-placeholder {
        color: #bfcad8;
    }

    input::-moz-placeholder {
        color: #bfcad8;
    }

    input:-ms-input-placeholder {
        color: #bfcad8;
    }

    input:-moz-placeholder {
        color: #bfcad8;
    }

    textarea::placeholder {
        color: #fff;
    }


    #sib-container input,
    #sib-container textarea {
        border-radius: 6px !important;
        background: rgba(220, 244, 255, 0.05) !important;
        border: 0 !important;
        outline: 0 !important;
        color: #fff;
        font-size: 16px;
        min-height: 40px;
        padding: 5px 20px;
    }

    #sib-container input:-ms-input-placeholder {
        text-align: left;

        color: #fff;
    }



    #sib-container input::placeholder {
        text-align: left;

        color: #fff;
    }

    #sib-container textarea::placeholder {
        text-align: left;
        color: #fff;
    }

    #sib-container a {
        text-decoration: underline;
        color: #2bb2fc;
    }



    .PhoneInputInput {
        background: transparent !important;
        border: 0 !important;
        padding: 0 !important;
        color: $WHITE !important;
        padding-left: 10px !important;

        &:hover,
        &:focus {
            border: 0 !important;
            outline: 0 solid transparent !important;
            outline-offset: 0px !important;
            --tw-ring-offset-width: 0px !important;
            --tw-ring-offset-color: transparent !important;
            --tw-ring-color: transparent !important;
            --tw-ring-offset-shadow: 0 !important;
            --tw-ring-shadow: transparent !important;
            box-shadow: transparent !important;
        }

        &::-ms-input-placeholder {
            /* Edge 12-18 */
            color: $WHITE !important;
        }

        &::placeholder {
            color: $WHITE !important;
        }
    }

    select option {
        background: $PC !important;
        color: $WHITE !important;
    }



    .timeline {
        margin: 20px auto;
        padding: 20px;

        /* Card container */
        .card- {
            position: relative;
        }

        /* setting padding based on even or odd */
        .card-:nth-child(odd) {
            padding: 30px 0 30px 30px;
        }

        .card-:nth-child(even) {
            padding: 30px 30px 30px 0;
        }

        /* Global ::before */
        .card-::before {
            content: "";
            position: absolute;
            width: 50%;
            border: solid $WHITE;
        }

        /* Setting the border of top, bottom, left */
        .card-:nth-child(odd)::before {
            left: 1px;
            top: -6.5px;
            bottom: -5px;
            border-width: 2px 0 2px 2px;
            border-radius: 50px 0 0 50px;
        }

        /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
        @media only screen and (max-width: 400px) {
            .card-:nth-child(odd)::before {
                top: -5px;
                bottom: -5px;
            }

            .card-:nth-child(even)::before {
                bottom: 1px;
            }
        }

        /* Setting the border of top, bottom, right */
        .card-:nth-child(even)::before {
            right: 0;
            top: 3px;
            bottom: 5px;
            border-width: 2px 2px 2px 0;
            border-radius: 0 50px 50px 0;
        }

        @media only screen and (max-width: 575px) {
            .card-:nth-child(even)::before {
                bottom: 4px;
            }
        }

        /* Removing the border if it is the first card */
        .card-:first-child::before {
            border-top: 0;
            border-top-left-radius: 0;
        }

        /* Removing the border if it is the last card  and it's odd */
        .card-:last-child:nth-child(odd)::before {
            border-bottom: 0;
            border-bottom-left-radius: 0;
        }

        /* Removing the border if it is the last card  and it's even */
        .card-:last-child:nth-child(even)::before {
            border-bottom: 0;
            border-bottom-right-radius: 0;
        }

        /* Title of the card */
        .title {
            position: relative;
        }

        .card-.soon::before {
            border-color: #ffffff26 !important;
        }

        .year {
            @apply absolute left-[-57px] rounded-full size-[60px] text-[13px] flex items-center justify-center top-[39%];
        }
    }


    .view-less {
        position: relative;

        &:after {
            content: "";
            height: 400px;
            position: absolute;
            inset: 0;
            top: auto;
            background: rgb(27, 47, 59);
            background: linear-gradient(180deg,
                    rgba(27, 47, 59, 0) 0%,
                    rgba(27, 47, 59, 0) 33%,
                    rgba(27, 47, 59, 0.7091211484593838) 57%,
                    rgba(27, 47, 59, 0.9808298319327731) 81%,
                    rgba(27, 47, 59, 1) 100%);
            z-index: 1;
        }
    }

    .view-full {
        position: relative;

        &:after {
            content: "";
            z-index: 1;
            height: 0;
            position: absolute;
            inset: 0;
            top: auto;
            background: rgb(11, 21, 28);
            background: linear-gradient(180deg,
                    rgba(11, 21, 28, 0) 0%,
                    rgba(11, 21, 28, 0) 33%,
                    rgba(11, 21, 28, 0.7091211484593838) 57%,
                    rgba(11, 21, 28, 0.9808298319327731) 81%,
                    rgba(11, 21, 28, 1) 100%);
        }
    }

    .active-button>button {
        border: solid thin #0ea5e9 !important;
    }



    
.content-service {

    a{
        @apply inline-flex items-center relative hover:opacity-50 text-white;
   
        &:hover{
            &:after{
                transition: 0.3s all;;
                opacity: 0.5;;
            }
          }
        &:after{
            content:'';
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' aria-hidden='true' data-slot='icon' class='sm:size-%5B14px%5D size-%5B12px%5D hover:opacity-50 transition-all'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25'%3E%3C/path%3E%3C/svg%3E");
      background-size: contain;
      background-position: center;
      
      @apply size-[14px] mt-[1px] ml-[7px] mr-[5px] bg-no-repeat;
    
     

   

        }
    }



    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
   {
       opacity: 0.7;;
      
    }

}

}























/////////////////////LIGHT///////
body.light {

    background: $BODY_LIGHT;
    color: $BLACK;

    font-size: 16px;

    @media only screen and (max-width: 575px) {
        font-size: 14px;
    }



    .bg-black-{
        background: $PC;
    
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        li {
    
            color: $WHITE;
        }
    
    
        .card {
            p,
                  h1,
                  h2,
                  h3,
                  h4,
                  h5,
                  h6,
                  .h1,
                  .h2,
                  .h3,
                  .h4,
                  .h5,
                  .h6,
                  li {
          
                      color: $BLACK;
                  }
          

                  .btn {
                    color:$BLACK;
                    &:hover, &:active{
                        color: $WHITE;
                    }
                }

          
                  .btn-sc {
          
                      a,
                      button {
          
                          border: 1px solid $BLACK;
                          color: $BLACK;
          
                          * {
                              color: $BLACK;
                              stroke: $BLACK;
                          }
          
                      }
          
                      &:hover a,
                      &:hover button {
                          // letter-spacing: 3px;
                          transition: 0.5s;
                          border-color: $BLACK;
                          background: $BLACK;
                          color: $WHITE;
          
                          * {
                              color: $WHITE;
                              stroke: $WHITE !important;
                          }
                      }
          
          
          
                  }
          
          
              }
    }

    .bg-black {
        background: transparent !important;
    
        .card, .card- {
      p,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .h1,
            .h2,
            .h3,
            .h4,
            .h5,
            .h6,
            li {
    
                color: $WHITE;
            }
    
    
            .btn-sc {
    
                a,
                button {
    
                    border: 1px solid $WHITE;
                    color: $WHITE;
    
                    * {
                        color: $WHITE;
                        stroke: $WHITE;
                    }
    
                }
    
                &:hover a,
                &:hover button {
                    // letter-spacing: 3px;
                    transition: 0.5s;
                    border-color: $WHITE;
                    background: $WHITE;
                    color: $BLACK;
    
                    * {
                        color: $BLACK;
                        stroke: $BLACK !important;
                    }
                }
    
    
    
            }
    
    
        }
    
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        li {
    
            color: $WHITE;
        }
    
    
    
    
        .btn-sc {
    
            a,
            button {
    
                border: 1px solid $WHITE;
                color: $WHITE;
    
                * {
                    color: $WHITE;
                    stroke: $WHITE;
                }
    
            }
    
            &:hover a,
            &:hover button {
                // letter-spacing: 3px;
                transition: 0.5s;
                border-color: $BLACK;
                background: $WHITE;
                color: $BLACK;
    
                * {
                    color: $BLACK;
                    stroke: $BLACK !important;
                }
            }
    
    
    
        }
    
    
    
    
    }

    //padding:20px;

    .card {
        @apply relative border;
        background: $WHITE;

    }

    .card-lg {
        @media only screen and (max-width: 575px) {
            padding: 0 !important;

            @apply border-none;
            background: transparent !important;

            &:before {
                display: none !important;
            }

            &:after {
                display: none !important;
            }
        }
    }


    .PhoneInputInput {
        background: transparent !important;
        border: 0 !important;
        padding: 0 !important;
        color: $WHITE !important;
        padding-left: 10px !important;

        &:hover,
        &:focus {
            border: 0 !important;
            outline: 0 solid transparent !important;
            outline-offset: 0px !important;
            --tw-ring-offset-width: 0px !important;
            --tw-ring-offset-color: transparent !important;
            --tw-ring-color: transparent !important;
            --tw-ring-offset-shadow: 0 !important;
            --tw-ring-shadow: transparent !important;
            box-shadow: transparent !important;
        }

        &::-ms-input-placeholder {
            /* Edge 12-18 */
            color: $BLACK !important;
        }

        &::placeholder {
            color: $BLACK !important;
        }
    }


  

    // p:not(.hero-home p) {
    //     color: $LIGHT;
    // }

    .header-nav-wrpr {
        p {
            color: $BLACK;
        }
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: "Helvetica Now Text";
        line-height: 1.3em;
    }



    .rdp-caption_label,
    .rdp-head_cell,
    .rdp-caption_label {
        font-size: 15px !important;
        font-weight: 300 !important;

    }


    .rdp-caption {
        @apply border-b;
        padding: 12px 24px !important;
        margin-bottom: 20px !important;
    }


    .image-box- {
        @apply rounded-[32px] relative;

        @media only screen and (min-width: 1500px) {
            @apply size-[550px];
        }

        @media only screen and (min-width: 1199px) {
            @apply size-[400px];
        }

        @media only screen and (max-width: 575px) {
            @apply w-[90%] h-auto;
        }

        img {
            @apply rounded-[42px] relative sm:h-[400px] h-[300px] object-cover;
            // filter: grayscale(0.5);
            //  opacity: 0.7;
        }

        &:after {
            content: "";
            //background: rgb(2, 0, 36);
            // background: linear-gradient(180deg, rgba(2,0,36,0.1516981792717087) 0%, rgba(5,7,33,0.13209033613445376) 20%, rgba(11,21,28,0.5298494397759104) 51%, rgba(11,21,28,0.8939950980392157) 66%, rgba(11,21,28,1) 81%, rgba(11,21,28,1) 100%);

            // background: rgb(255, 255, 255);
            // /* Fallback for older browsers */
            // background: linear-gradient(180deg,
            //     rgba(255,255,255, 0.1517) 0%,
            //     rgba(255,255,255, 0.1321) 20%,
            //     rgba(255,255,255, 0.5298) 51%,
            //     rgba(255,255,255, 0.894) 66%,
            //     rgba(255,255,255, 1) 81%,
            //     rgba(255,255,255, 1) 100%);

            inset: 0;
            position: absolute;
            max-height: 100%;
            @apply rounded-[32px];
        }

        .line {
            border-right: solid 1px #00000075;
            opacity: 0.6;
            transform: scale(1.5);
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: 1;
            transform: rotate(8deg);

            @apply rounded-[32px];
            animation: rotate 20s ease-in-out infinite;

            @media only screen and (min-width: 1500px) {
                @apply max-h-[500px];
            }

            @media only screen and (min-width: 999px) {
                @apply max-h-[400px];
            }

            @media only screen and (max-width: 575px) {
                @apply max-h-[300px];
            }
        }
    }









    .gradient-bottom-card {
        background: rgb(27,
                47,
                59);
        /* Fallback for browsers that do not support gradients */
        background: linear-gradient(180deg,
                rgba(27, 47, 59, 0.1516981792717087) 0%,
                rgba(255, 255, 255, 0.13209033613445376) 20%,
                rgba(255, 255, 255, 0.5298494397759104) 51%,
                rgba(255, 255, 255, 0.8939950980392157) 66%,
                rgba(255, 255, 255, 1) 81%,
                rgba(255, 255, 255, 1) 100%);
    }




    .btn {
        display: inline-flex;
        gap: 16px;
        align-items: center;
        position: relative;
        // max-width: 200px;

        //width: 100%;
        border-radius: 100px;
        @apply border;
        line-height: 0;
        transition: all 0.3s;
        font-weight: normal;
        font-family: "Inter", sans-serif;
        transition: all 0.3s;
    }



    .btn-sc {
        position: relative;
        // min-width: 200px;
        height: 60px;
        min-width: 60px;
        width: fit-content;

        a,
        button {
            position: relative;
            top: 0;
            padding-left: 30px;
            padding-right: 30px;
            left: 0;
            min-width: 60px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            //  box-shadow: 0 5px 55px  #1a5793;
            border: 1px solid $BLACK;
            border-radius: 30px;
            color: $BLACK;
            z-index: 1;
            font-weight: 400;
            text-decoration: none;
            overflow: hidden;
            transition: 0.5s;

            font-size: 14px;

            * {

                stroke: $BLACK;
            }


        }

        &:hover a,
        &:hover button {
            // letter-spacing: 3px;
            transition: 0.5s;
            background: $BLACK;
            border-color: $BLACK;
            color: $WHITE;


            * {
                color: $WHITE;
                stroke: $WHITE !important;
            }

        }



    }

    .btn {

        &:hover,
        &:hover {
            // letter-spacing: 3px;
            transition: 0.5s;
            background: $BLACK;
            border-color: $BLACK;
            color: $WHITE;

        }
    }


   

    section {
        //@apply rounded-[24px]
    }






    @keyframes gradients {
        0% {
            background-position: 0 0;
        }

        25% {
            background-position: 50% 0;
        }

        50% {
            background-position: 90% 0;
        }

        60% {
            background-position: 60%;
        }

        75% {
            background-position: 40%;
        }

        100% {
            background-position: 0 0;
        }
    }




    .header {
        @apply relative sm:py-5 py-3 transition-all z-[99];

        .link-- {
            @apply hover:text-sky-500 hover:animate-pulse block;
        }

        .inner--- {
            @apply columns-2 flex justify-between items-center;
        }

        .label-- {
            @apply block tracking-[1px] mb-5 sm:mb-5 text-[14px] whitespace-nowrap;
            font-family: "Inter", sans-serif;
        }

        .ul-1 {
            @apply pl-5 sm:mt-5 mt-2 md:text-[2rem] text-xl grid gap-[8px];
        }

        .wrpr--nav-1 {
            @apply flex items-center gap-5;
        }

        .button {
            @apply hidden md:block;
        }
    }


    .social a {
        @apply relative border;

        background: $WHITE;

        border-radius: 50%;
        padding: 10px;

        @media only screen and (min-width: 575px) {
            height: 50px;
            width: 50px;
            max-height: 50px;
            max-width: 50px;
            min-height: 50px;
            min-width: 50px;
        }

        height: 40px;
        width: 40px;
        max-height: 40px;
        max-width: 40px;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        * {
            width: 20px;
            height: 20px;
        }

        g,
        path {
            background: $BLACK;
            fill: $BLACK;
        }

        &:focus,
        &:hover {
            background: $BLACK;
            border-color: $BLACK;
            // box-shadow: inset 0 16px 7px #131c257a;

            g,
            path {
                background: $WHITE;
                fill: $WHITE;
            }

        }
    }


    .footer {
        @apply overflow-hidden sm:py-[100px] py-6 relative z-50 border-t;

        .container {
            @apply grid sm:gap-20 gap-3 z-10 relative;
        }

        .wrpr {
            @apply lg:flex grid flex-row lg:gap-[100px] sm:gap-16 gap-[30px];
        }

        .inner-1 {
            @apply lg:basis-[40%] grid justify-between;
        }

        .inner-2 {
            @apply md:flex grid sm:gap-[24px] md:gap-[100px];
        }

        .wrpr-2 {
            @apply lg:flex flex-col flex-grow justify-end hidden;
        }

        .social {
            @apply flex gap-2;

            .list-wrpr {
                @apply m-0;
            }
        }

        p {
            @apply text-[13px];
        }

        .wrpr-3 {
            @apply basis-[60%] grid md:gap-[50px] sm:gap-[24px] lg:justify-end;
        }

        .inner {
            @apply md:flex grid sm:gap-[24px] md:gap-[100px];
        }

        .heading {
            @apply block tracking-[1px] mb-[16px] sm:mb-5 text-[15px] whitespace-nowrap;

        }

        .list-wrpr {
            @apply md:text-[16px] text-[14px];

            li {
                @apply sm:mb-[8px] mb-[12px];
            }
        }

        li a {
            @apply hover:text-sky-500 hover:animate-pulse text-[13px];
            font-family: "Inter", sans-serif;

            color: $LIGHT !important;
            font-weight: 400;
        }

        .inner-2 {
            @apply md:flex grid sm:gap-[24px] md:gap-[100px];
        }

        .bottom-footer {
            @apply flex lg:hidden items-end;
        }

        .copyright- {
            @apply md:text-[16px] text-[14px];
        }

        .link-hover {
            @apply hover:opacity-50 transition-all;
        }

        .list-wrpr {
            @apply sm:mb-[24px] mb-[16px] mt-0 grid gap-[0px];
        }
    }


    .input-custom {
        @apply bg-transparent rounded-[8px] p-[15px] transition-all border text-[14px];
        background: $WHITE;
    }




    .timeline {
        margin: 20px auto;
        padding: 20px;

        /* Card container */
        .card- {
            position: relative;
        }

        /* setting padding based on even or odd */
        .card-:nth-child(odd) {
            padding: 30px 0 30px 30px;
        }

        .card-:nth-child(even) {
            padding: 30px 30px 30px 0;
        }

        /* Global ::before */
        .card-::before {
            content: "";
            position: absolute;
            width: 50%;
            border: solid $BLACK;
        }

        /* Setting the border of top, bottom, left */
        .card-:nth-child(odd)::before {
            left: 1px;
            top: -6.5px;
            bottom: -5px;
            border-width: 2px 0 2px 2px;
            border-radius: 50px 0 0 50px;
        }

        /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
        @media only screen and (max-width: 400px) {
            .card-:nth-child(odd)::before {
                top: -5px;
                bottom: -5px;
            }

            .card-:nth-child(even)::before {
                bottom: 1px;
            }
        }

        /* Setting the border of top, bottom, right */
        .card-:nth-child(even)::before {
            right: 0;
            top: 3px;
            bottom: 5px;
            border-width: 2px 2px 2px 0;
            border-radius: 0 50px 50px 0;
        }

        @media only screen and (max-width: 575px) {
            .card-:nth-child(even)::before {
                bottom: 4px;
            }
        }

        /* Removing the border if it is the first card */
        .card-:first-child::before {
            border-top: 0;
            border-top-left-radius: 0;
        }

        /* Removing the border if it is the last card  and it's odd */
        .card-:last-child:nth-child(odd)::before {
            border-bottom: 0;
            border-bottom-left-radius: 0;
        }

        /* Removing the border if it is the last card  and it's even */
        .card-:last-child:nth-child(even)::before {
            border-bottom: 0;
            border-bottom-right-radius: 0;
        }

        /* Title of the card */
        .title {
            position: relative;
        }

        .card-.soon::before {
            border-color: #ddd !important;
        }

        .year {
            @apply absolute left-[-57px] rounded-full size-[60px] text-[13px] flex items-center justify-center top-[39%];
        }
    }


    .view-less {
        position: relative;

        &:after {
            content: "";
            height: 400px;
            position: absolute;
            inset: 0;
            top: auto;
            background: rgb(255, 255, 255);
            background: linear-gradient(180deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0) 33%,
                    rgba(255, 255, 255, 0.7091211484593838) 57%,
                    rgba(255, 255, 255, 0.9808298319327731) 81%,
                    rgba(255, 255, 255, 1) 100%);
            z-index: 1;
        }
    }

    .view-full {
        position: relative;

        &:after {
            content: "";
            z-index: 1;
            height: 0;
            position: absolute;
            inset: 0;
            top: auto;
            background: rgb(11, 21, 28);
            background: linear-gradient(180deg,
                    rgba(11, 21, 28, 0) 0%,
                    rgba(11, 21, 28, 0) 33%,
                    rgba(11, 21, 28, 0.7091211484593838) 57%,
                    rgba(11, 21, 28, 0.9808298319327731) 81%,
                    rgba(11, 21, 28, 1) 100%);
        }
    }



    .active-button>button {
        border: solid thin $BLACK !important;
        background: $BLACK;
        color: $WHITE
    }


    
.content-service {

    a{
        @apply inline-flex items-center relative hover:opacity-50;
   
        &:hover{
            &:after{
                transition: 0.3s all;;
                opacity: 0.5;;
            }
          }
        &:after{
            content:'';
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true' data-slot='icon' class='sm:size-%5B14px%5D size-%5B12px%5D hover:opacity-50 transition-all'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25'%3E%3C/path%3E%3C/svg%3E");
      background-size: contain;
      background-position: center;
      
      @apply size-[14px] mt-[1px] ml-[7px] mr-[5px] bg-no-repeat;
    
    

   

        }
    }

}

}





.heading-1 {
    // font-size: max(4vw, 28px);
    font-size: max(3vw, 28px);
    line-height: 1.3em;

    @media only screen and (max-width: 999px) {
        font-size: max(5vw, 28px);
    }

    @media only screen and (max-width: 575px) {
        font-size: max(3vw, 24px);
    }
}

.heading-2 {
    font-size: max(3.5vw, 24px);
}

.heading-3 {
    font-size: max(2.5vw, 28px);
}

.sub-heading {
    font-size: max(28px, 16px);

    @media (max-width: 575px) {
        /* Adjust this breakpoint as needed */

        font-size: 18px;
        /* Font size for small screens */
    }
}







.img-bg-banner {

    @apply block absolute inset-0 grayscale opacity-[0.07] w-full h-[100%] object-cover;



}





.animation-wrapper {
    align-items: center;
    background-image: linear-gradient(to right, #152a37, #23485f);
    background-size: 600%;
    background-position: 0 0;
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100%;
    justify-content: center;
    /* Animation */
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: gradients;
}



main {
    @apply sm:px-[20px] px-[10px];
}

.container {
    margin: 0 auto;
    width: 100%;

    @media only screen and (min-width: 1500px) {
        max-width: 80%;
    }

    max-width: 80%;

    @media only screen and (max-width: 575px) {
        max-width: 90%;
    }
}


section {
    @media only screen and (min-width: 999px) {
        @apply pt-[15vh];
    }

    @apply pt-[50px];
}



.video-wrpr {
    @apply absolute inset-0 w-full h-[100%] overflow-hidden;

    video{
        @apply object-cover;
    }

    video, div {
      

        width:100% !important;
        height:100% !important;

        // @media only screen and (max-width: 999px) {
        //     @apply scale-[3];
        // }

        // @media only screen and (max-width: 575px) {
        //     @apply scale-[2];
        // }
    }

    &:after {
        content: '';
        @apply absolute inset-0 w-full h-[100%];
        background: rgb(21, 42, 55);
        background: linear-gradient(266deg, rgba(21, 42, 55, 0.1516981792717087) 0%, rgba(21, 42, 55, 0.8127626050420168) 50%, rgba(21, 42, 55, 0.9416141456582633) 74%, rgba(21, 42, 55, 1) 100%);
    }


}














.bg-primary-custom {
    position: fixed;
    @apply rounded-lg;

}




.content-service, .service-single {

  
    .heading-2 {
        font-size: max(2.5vw, 24px);
    }

    .wp-block-heading{
       @extend .heading-2; 
    }

    h1,
    h2,
    h3 {
       
        @apply mb-[20px];
        line-height: 1.5;;

    }

    .has-text-align-center {
        @apply text-center;
    }


    .full-col{
        @extend .card;
        @apply rounded-[30px] w-full min-h-[150px] overflow-hidden;

        gap:0 !important;

        .wp-block-column {
            @apply rounded-none p-[50px] border-none;
            border-radius: 0 !important;
            border: 0 !important;
            img{
                @apply rounded-[42px] relative sm:h-[400px] h-[300px]  object-cover;

              

            }
p{
  margin: 0 !important;
}

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
margin: 0 !important;
                font-size: max(2.5vw, 28px) !important;
               
            }


        }
        div:first-child{
          
             @apply lg:pb-[50px] pb-0; 
           
        }

        div:last-child{
            @apply sm:gap-[24px] gap-[10px] grid items-center lg:pl-0 pt-0;
        
            div{
                @apply p-0; 
            }
        }

        
         
        
    }
    

    .full-col.right-col{
        @extend .card;
        @apply rounded-[30px] w-full min-h-[150px] overflow-hidden;

        gap:0 !important;

        .wp-block-column {
            @apply rounded-none p-[50px] border-none;
            border-radius: 0 !important;
            border: 0 !important;
            img{
                @apply rounded-[42px] relative sm:h-[400px] h-[300px]  object-cover;

              

            }
p{
  margin: 0 !important;
}

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
margin: 0 !important;
                font-size: max(2.5vw, 28px) !important;
               
            }


        }
        div:last-child{
          
             @apply lg:pb-[50px] pb-0 lg:order-last order-first; 
           
        }

        div:first-child{
            @apply sm:gap-[24px] gap-[10px] grid items-center lg:pr-0 pt-0 lg:order-first order-last;
        
            div{
                @apply p-0; 
            }
        }

        
         
        
    }
    
    .wp-block-columns {
        @apply flex gap-[30px] sm:mb-[50px] mb-[30px];



        .wp-block-column {
            @extend .card;
            @apply rounded-[30px] w-full min-h-[150px] overflow-hidden;

            .wp-block-columns {
                @apply mb-0 gap-0;

                .card {
                    @apply bg-transparent border-0;

                    &:after,
                    &:before {
                        display: none;
                    }

                    img {
                        margin: 0;
                        border-radius: 12px;
                    }
                }
            }

            img {
                @apply mb-[20px] block w-full;
            }

            h3,
            h4,
            h5,
            h6 {

                @apply text-[1.375rem];
                line-height: 1.5;;
                strong {
                    font-weight: 500;
                }
            }




            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {

                @apply m-[30px] mb-0 mt-[20px];
                line-height: 1.5;;
            }

            p {
                @apply m-[30px] mt-[10px];
            }

            ul,
            ol {
                @apply m-[30px];

                li {
                    @apply block mb-[10px];
                }
            }

        }


        @media only screen and (max-width:999px) {
            @apply grid;
        }

    }


    strong {
        font-weight: 500 !important;
    }



    @media only screen and (max-width:575px) {
       .wp-block-spacer{
        height: 30px !important;
       }
    }

    
    ul, ol{
      
        list-style: inherit;

        li{
            color:red;
        }
    }

    .readmore-content{
        line-height: 1.8;
        *{
            line-height: 1.8;
        }
    }


}



header {
    @media only screen and (max-width:575px) {

        .wrpr--nav-1 {

            gap: 10px !important;
        }


        .btn-sc {
            height: 40px !important;
            min-width: 40px !important;
            max-width: 40px !important;

            button,
            a {
                height: 40px !important;
                min-width: 40px !important;
                max-width: 40px !important;
                padding: 0 !important;
            }
        }

    }
}




